<div id="cabins" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.arena.info.cabins.title %>
      </h1>
      <p>
        <%= data.arena.info.cabins.desc %>
      </p>
    </div>
    <button type="button" class="all-back"><%= data.arena.info.all.back %></button>
    <button type="button" class="all-home"><%= data.arena.info.all.home %></button>
    <button type="button" class="all-next"><%= data.arena.info.all.next %></button>
  </div>
</div>