<div id="comparative" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.info.comparative.title %>
      </h1>
      <p>
        <%= data.info.comparative.desc %>
      </p>
    </div>
    <div id="stadiuns">
      <div id="stadiuns-text"><%= data.info.comparative.desc2 %></div>
      <ul id="stadiuns-list">
        <% data.info.comparative.table.data.each do |stadium| %>
          <li id="stadium-<%= stadium.name.downcase.gsub(' ', '-') %>"></li>
        <% end %>
      </ul>
    </div>
    <table id="comparative-table" border="0" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th></th>
          <% data.info.comparative.table.data.each do |stadium| %>
            <th><%= stadium.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% data.info.comparative.table.labels.each do |key, label| %>
          <tr>
            <th><%= label.to_s %></th>
            <% data.info.comparative.table.data.each do |stadium| %>
            <td><%= stadium[key] %></td>
            <% end %>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>