<div id="controversies" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.arena.info.controversies.title %>
      </h1>
      <p>
        <%= data.arena.info.controversies.desc %>
      </p>
    </div>
    <ul id="controversies-info">
      <% data.arena.info.controversies.infos.each do |info| %>
      <li>
        <h4><%= info.title %></h4>
        <p><%= info.desc %></p>
      </li>
      <% end %>
    </ul>
    <div id="controversies-money">
      <h3><%= data.arena.info.controversies.money.title %></h3>
      <ul>
        <% data.arena.info.controversies.money.data.each do |info| %>
        <li>
          <div class="percent" data-width="<%= info.width %>">
            <b><%= info.label %></b>
            <span class="inside-text"><%= info.value %></span>
          </div>
          <span class="outside-text"><%= info.desc %></span>
        </li>
        <% end %>
      </ul>
    </div>
    <div id="controversies-info2">
    <h3><%= data.arena.info.controversies.infos2.title %></h3>
      <ul>
        <% data.arena.info.controversies.infos2.data.each do |info| %>
        <li>
          <b><%= info.quantity %></b>
          <%= info.desc %>
        </li>
        <% end %>
      </ul>
    </div>
    <button type="button" class="all-back dark"><%= data.arena.info.all.back %></button>
  </div>
</div>