<div id="east_building" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.arena.info.east_building.title %>
      </h1>
      <p>
        <%= data.arena.info.east_building.desc %>
      </p>
    </div>
    <div id="east_building-cut"></div>
    <ul id="east_building-info" class="list-info">
      <% data.arena.info.east_building.infos.each do |info| %>
      <li>
        <h4><%= info.title %></h4>
        <p><%= info.desc %></p>
      </li>
      <% end %>
    </ul>
    <button type="button" class="all-back dark"><%= data.arena.info.all.back %></button>
    <button type="button" class="all-home dark"><%= data.arena.info.all.home %></button>
    <button type="button" class="all-next dark"><%= data.arena.info.all.next %></button>
  </div>
</div>