<div id="field" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.arena.info.field.title %>
      </h1>
      <p>
        <%= data.arena.info.field.desc %>
      </p>
    </div>
    <div id="field-image"></div>
    <ul id="field-info">
      <% data.arena.info.field.infos.each do |info| %>
        <li>
          <h4><%= info.title %></h4>
          <p><%= info.desc %></p>
        </li>
      <% end %>
    </ul>
    <button type="button" class="all-back"><%= data.arena.info.all.back %></button>
  </div>
</div>