<div id="lockers" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.info.lockers.title %>
      </h1>
      <p>
        <%= data.info.lockers.desc %>
      </p>
    </div>
    <ol id="locker-details">
      <% data.info.lockers.details.each do |info| %>
      <li>
        <h4><%= info.title %></h4>
        <p><%= info.desc %></p>
      </li>
      <% end %>
    </ol>
    <div id="locker-image">
      <%= image_tag 'arena-corinthians/lockers/' + data.info.lockers.images.first.file_name, size: "570x370" %>
      <p id="locker-image-desc"><%= data.info.lockers.images.first.desc %></p>
    </div>
    <div id="locker-image-thumbs">
      <button class="locker-image-nav locker-image-nav-prev" title="<%= data.info.lockers.nav.before %>">
        <%= data.info.lockers.nav.before %>
      </button>
      <div id="locker-image-thumbs-container">
        <ul>
          <% data.info.lockers.images.each do |image| %>
          <li>
            <%= image_tag 'arena-corinthians/lockers/' + image.file_name, size: "170" %>
            <span>
              <%= image.desc %>
            </span>
          </li>
          <% end %>
        </ul>
      </div>
      <button class="locker-image-nav locker-image-nav-next" title="<%= data.info.lockers.nav.next %>">
        <%= data.info.lockers.nav.next %>
      </button>
    </div>
    <button type="button" class="all-back"><%= data.info.all.back %></button>
  </div>
</div>