<div id="lockers" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.info.lockers.title %>
      </h1>
      <p>
        <%= data.info.lockers.desc %>
      </p>
    </div>
    <ol id="locker-details">
      <li>
        <h4>1. Cobertura</h4>
        <p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres todos os novos estímulos 3 linhas e respeite o nosso limite de caracteres todos os novos estímulos.</p>
      </li>
      <li>
        <h4>2. Outro detalhe</h4>
        <p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres todos os novos estímulos 3 linhas e respeite o nosso limite de caracteres todos os novos estímulos.</p>
      </li>
      <li>
        <h4>3. Mais um detalhe</h4>
        <p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres todos os novos estímulos 3 linhas e respeite o nosso limite de caracteres todos os novos estímulos.</p>
      </li>
    </ol>
    <div id="locker-image">
      <%= image_tag 'arena-corinthians/lockers/vestiario-1.jpg', size: "570x370" %>
      <p>A área de aquecimento prepara o clima da partida para os jogadores sem que eles fiquem expostos em campo, permitindo táticas ousadas para os técnicos.</p>
    </div>
    <div id="locker-image-thumbs">
      <button class="locker-image-nav locker-image-nav-prev">Anterior</button>
      <ul>
        <li><%= image_tag 'arena-corinthians/lockers/vestiario-2-thumb.jpg', size: "170" %></li>
        <li><%= image_tag 'arena-corinthians/lockers/vestiario-3-thumb.jpg', size: "170" %></li>
      </ul>
      <button class="locker-image-nav locker-image-nav-next">Próxima</button>
    </div>
  </div>
</div>