<div id="numbers" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.arena.info.numbers.title %>
      </h1>
      <p>
        <%= data.arena.info.numbers.desc %>
      </p>
    </div>
    <div id="numbers-image"></div>
    <ul id="numbers-info">
      <% data.arena.info.numbers.infos.each do |info| %>
      <li>
        <b><%= info.title %></b><%= info.desc %>
      </li>
      <% end %>
    </ul>
    <button type="button" class="all-back dark"><%= data.arena.info.all.back %></button>
    <button type="button" class="all-home dark"><%= data.arena.info.all.home %></button>
    <button type="button" class="all-next dark"><%= data.arena.info.all.next %></button>
  </div>
</div>