<div id="screen" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.arena.info.screen.title %>
      </h1>
      <p>
        <%= data.arena.info.screen.desc %>
      </p>
    </div>
    <div id="screen-image"></div>
    <div id="screen-title">
      <h3><%= data.arena.info.screen.subtitle %></h3>
      <p><%= data.arena.info.screen.desc2 %></p>
    </div>
    <div id="screen-schema"></div>
    <div id="screen-infos">
      <ul>
        <% data.arena.info.screen.infos.each do |info| %>
        <li>
          <h4><%= info.title %></h4>
          <p><%= info.desc %></p>
        </li>
        <% end %>
      </ul>
    </div>
    <button type="button" class="all-back"><%= data.arena.info.all.back %></button>
    <button type="button" class="all-home"><%= data.arena.info.all.home %></button>
    <button type="button" class="all-next"><%= data.arena.info.all.next %></button>
  </div>
</div>