<div id="start" class="section">
  <div class="container">
    <h1 id="title"><%= data.escalacao.info.start.title %></h1>
    <p id="desc"><%= data.escalacao.info.start.desc %></p>
    <div id="schema-select-area">
      <h3><%= data.escalacao.info.start.schema.title %></h3>
      <div id="schema-select-control">
        <button class="schema-select-button prev" title="<%= data.escalacao.info.start.schema.prev %>"><%= data.escalacao.info.start.schema.prev %></button>
        <div id="schema-select-options-container">
          <ul id="schema-select-options">
            <li><a href="#schema-4-2-3-1">4-2-3-1</a></li>
            <li><a href="#schema-4-3-1-2">4-3-1-2</a></li>
            <li><a href="#schema-4-4-2">4-4-2</a></li>
            <li><a href="#schema-4-3-3">4-3-3</a></li>
            <li><a href="#schema-3-4-3">3-4-3</a></li>
            <li><a href="#schema-3-5-2">3-5-2</a></li>

          </ul>
        </div>
        <button class="schema-select-button next" title="<%= data.escalacao.info.start.schema.next %>"><%= data.escalacao.info.start.schema.next %></button>
      </div>
    </div>
    <div id="field" class="schema-4-2-3-1">
      <div id="player1"  data-point="1" class="player">1</div>
      <div id="player2"  data-point="2" class="player">2</div>
      <div id="player3"  data-point="3" class="player">3</div>
      <div id="player4"  data-point="4" class="player">4</div>
      <div id="player5"  data-point="5" class="player">5</div>
      <div id="player6"  data-point="6" class="player">6</div>
      <div id="player7"  data-point="7" class="player">7</div>
      <div id="player8"  data-point="8" class="player">8</div>
      <div id="player9"  data-point="9" class="player">9</div>
      <div id="player10" data-point="10" class="player">10</div>
      <div id="player11" data-point="11" class="player">11</div>
    </div>
    <div id="coach"></div>
  </div>
</div>