<div id="start" class="section">
  <div class="container">
    <h1 id="title"><%= data.escalacao.info.start.title %></h1>
    <p id="desc"><%= data.escalacao.info.start.desc %></p>
    <div id="schema-select-area">
      <h3><%= data.escalacao.info.start.schema.title %></h3>
      <div id="schema-select-control">
        <button class="schema-select-button prev" title="<%= data.escalacao.info.start.schema.prev %>"><%= data.escalacao.info.start.schema.prev %></button>
        <div id="schema-select-options-container">
          <ul id="schema-select-options">
            <li><a href="#schema-4-4-2">4-4-2</a></li>
            <li><a href="#schema-4-2-4">4-2-4</a></li>
            <li><a href="#schema-2-4-4">2-4-4</a></li>
          </ul>
        </div>
        <button class="schema-select-button next" title="<%= data.escalacao.info.start.schema.next %>"><%= data.escalacao.info.start.schema.next %></button>
      </div>
    </div>
    <div id="field" class="schema-4-4-2">
      <div id="player1"  data-point="1" class="player"></div>
      <div id="player2"  data-point="2" class="player"></div>
      <div id="player3"  data-point="3" class="player"></div>
      <div id="player4"  data-point="4" class="player"></div>
      <div id="player5"  data-point="5" class="player"></div>
      <div id="player6"  data-point="6" class="player"></div>
      <div id="player7"  data-point="7" class="player"></div>
      <div id="player8"  data-point="8" class="player"></div>
      <div id="player9"  data-point="9" class="player"></div>
      <div id="player10" data-point="10" class="player"></div>
      <div id="player11" data-point="11" class="player"></div>
    </div>
    <div id="coach"></div>
  </div>
</div>