---
title: Infográfico Arena Corinthians
---

<div id="infographic">
  <%= partial "desktop/start" %>
  <%= partial "desktop/west_building" %>
  <%= partial "desktop/east_building" %>
  <%= partial "desktop/field" %>
  <%= partial "desktop/bleachers" %>
  <%= partial "desktop/coverage" %>
  <%= partial "desktop/cabins" %>
  <%= partial "desktop/screen" %>
  <%= partial "desktop/lockers" %>
  <%= partial "desktop/parking" %>
  <%= partial "desktop/numbers" %>
  <%= partial "desktop/about" %>
  <%= partial "desktop/controversies" %>
  <%= partial "desktop/curiosities" %>
  <%= partial "desktop/comparative" %>
  <%= partial "desktop/vote" %>
  <%= partial "desktop/share" %>
</div>