---
title: Itaquerão
---

<div id="infographic">
  <%= partial "desktop/start" %>
  <%= partial "desktop/east_building" %>
  <%= partial "desktop/west_building" %>
  <%= partial "desktop/lockers" %>
  <%= partial "desktop/screen" %>
  <%= partial "desktop/comparative" %>
  <%= partial "desktop/about" %>
  <%= partial "desktop/numbers" %>
  <%= partial "desktop/controversies" %>
  <%= partial "desktop/curiosities" %>
  <%= partial "desktop/vote" %>
</div>